body{
    margin: 0;
}
.container{
    background-color: #393E46;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.start{
    background-color: transparent;
    border: 0;
}
.item
{
    min-width: 100%;
}
img{
    height: 280px;
}
.first
{
    height: 25vh;
    text-align: center;
}
.second{
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    text-align: center;
}
.third{
    height: 20vh;
}
h1{
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 15rem;
    color: #4ECCA3;
}
h3{
    font-size: 2.8rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
}
h2{
    text-align: center;
    font-size: 1.9rem;
    color: #ffffff;
    font-family: 'Indie Flower', cursive;
}
@media (max-width : 890px){
    h1{
        font-size: 5rem;
    }
    img{
        height: 155px;
    }
    h3{
        font-size: 1.5rem;
    }
    h2{
        font-size: 1rem;
    }
}